* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ecdbff;
    margin: 0;
    width: 100%;
}

nav {
    background-color: #ecdbff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #9C8F87;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}