* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecdbff;
    margin: 0;
    width: 100%;
}

.div-header-p-img {
    display: flex;
    align-items: center;
    width: auto;
}

.header-img {
    width: 6.5%;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.header-p {
    margin-left: 10px;
}

.header-p-span {
    font-weight: 600;
}

.div-buscador {
    margin-left: px;
}

.div-buscador input {
    margin-right: 300px;
    width: 350px;
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

nav {
    background-color: #ecdbff;
    justify-content: center;
    align-items: center;
    padding:15px 0;
}

.nav-a {
    color: black;
    margin-left: 15px;
    text-decoration: none;
}

.nav-a:last-of-type {
    margin-right: 50px;
}



footer {
    background-color: #9C8F87;
    color: white;
    text-align: center;
    padding: 2rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}