:root {
    --rosaPastel: #ecdbff;
    --negro: black;
    --blanco: white;
    --colorFooter: #9C8F87;
    --colorProductos: #F4E9FF;
    --colorBordeProductos: #C5A4E0; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------ Body --------------*/

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

/*------------ Header -------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rosaPastel);
    margin: 0;
    width: 100%;
}

.div-header-p-img {
    display: flex;
    align-items: center;
    width: auto;
}

.header-img {
    width: 6.5%;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.header-p {
    margin-left: 10px;
}

.header-p-span {
    font-weight: 600;
}

/*--------- Buscador ---------*/

.div-buscador input {
    margin-right: 300px;
    width: 350px;
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

/*--------------- Nav -----------------*/

nav {
    background-color: var(--rosaPastel);
    justify-content: center;
    align-items: center;
    padding:15px 0;
}

.nav-a {
    color: var(--negro);
    margin-left: 15px;
    text-decoration: none;
}

.nav-a:last-of-type {
    margin-right: 50px;
}

/*-------------- Main ---------------*/

.main-inicio {
    margin: 0 100px 0 100px;
}

.main-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-width: 10px;
}

.div-inicio-img {
    display: block;
    width: 90%;   
    margin: 0;
}

.inicio-img {
    width: 50%;
    margin: auto 300px;
}

.contenido-div{
    justify-content: center;
    align-items: center;
}

.div-h1-p {
    text-align: center;
    margin-right: 250px;
}

/*-------------- Footer ----------------*/

footer {
    background-color: var(--colorFooter);
    color: var(--blanco);
    text-align: center;
    padding: 2rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/*-------------- Productos -------------*/

#contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: fit-content;
    margin: 0 auto;
    column-gap: 120px;
}

body h1 {
    text-align: center;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    width: 290px;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--colorProductos);
    border: 2px solid var(--colorBordeProductos);
    transition: 0.45s ease;
}

.card-producto:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.card-producto img {
    margin-top: 5px;
    width: 200px;
    width: 200px;
    object-fit: fill;
}

.card-producto h3 {
    margin-top: 15px;
    font-size: 20px;
}

.card-producto p {
    margin-top: 15px;
}
